body {
    margin: 0;
    background-image: url("contourlinesbg.jpg");
    background-size: 500px 500px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-family: Helvetica;
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url("stain_halftone_background.jpg");
    background-size: 600px 600px;
}

li a {
    float: right;
    display: flex;
    color: #666;
    text-align: center;
    padding: 25px 60px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #04AA6D;
}

li a.active {
    color: #ff5f5f;
}

li h3 {
    font-family: 'Sacramento', cursive;
    font-weight: 500;
    text-align: center;
    font-size: 45px;
    float: left;
    margin: 0;
    padding-top: 5px;
}

#navbar {
    z-index: 1;
}

#mainimg{
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    height: auto;
    padding-top: 60px;
}

#hotdeals {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-left: 60px;
}


.hotdealsimg {
    height: auto;
    width: 300px;
    padding-left: 60px;
    z-index: 0;
}


.maintxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
    max-width: fit-content;
    display: inline-block;
}

.txt {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-left: 98px;
    margin: 0;
    display: inline-block;
}

#nikeshes-hotdeals-text {
    padding-left: 105px;
}
#nikeshoes-hotdeals-text-price {
    padding-left: 78px;
}


#nikeshirt-hotdeals-text {
    padding-left: 88px;
}
#nikeshirt-hotdeals-text-price {
    padding-left: 108px;
}


#nikeshort-hotdeals-text {
    padding-left: 78px;
}
#nikeshort-hotdeals-text-price {
    padding-left: 113px;
}


#niketshirt-hotdeals-text {
    padding-left: 115px;
}
#niketshirt-hotdeals-text-price {
    padding-left: 113px;
}



.trendingimg {
    display: inline-block;
    height: auto;
    width: 757px;
}

.trendingtxt {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 1000;
    font-size: 100px;
    margin: 0;
    padding-top: 25px;
    text-align: center;
}

.trendingsmall-txt {
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.trendingshop-btn {
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.trendingshop-btn:hover {
    background-color: rgb(49, 49, 49);
}




.essentials {
    height: auto;
    width: 470px;
}

#essenmen {
    padding-left: 60px;
}

#essenwomen {
    padding-left: 10px;
}

.essendiv {
    position: relative;

    display: inline-block;
}

.essendiv .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    position: absolute;
    top: 8%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.essendiv .btn:hover {
    background-color: rgb(49, 49, 49);
}

#btnwomen {
    left: 17%;
}

#btnacc {
    left: 17%;
}




.footer {
    background-color: #000000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 60px;
    padding-top: 45px;
    height: 250px;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    color: white;
}

#more {
    font-family: 'Gabarito', sans-serif;
    font-weight: 800;
    font-size: 90px;
    text-align: center;
    max-width: fit-content;
    padding-left: 325px;
}
